<script>
  $(function(){
    $(".alert" ).fadeOut(10000);
  });
</script>
    <div id="footer" role="contentinfo">
      <table id="info">
        <tr>
          <td>Commit: <%= `git rev-parse --short HEAD` %></td>
          <td>Branch: <%= `git rev-parse --abbrev-ref HEAD` %></td>
        </tr>
        <tr>
          <td>layout managed by _base.scss</td>
          <td>Environment: <%= Rails.env %></td>
        </tr>
        <!--<td>Debug: <%=debug(params) %></td> -->

      </table>
    </div> <!-- #footer -->
</content>
</container>
</main>
