<link rel="profile" href="http://gmpg.org/xfn/11" />

<script type='text/javascript' src='https://c0.wp.com/c/5.2.2/wp-includes/js/jquery/jquery.js'></script>


  </head>

<body class="home blog">
<div id="wrapper" class="hfeed">
<div id="header">
  <div id="masthead">
    <div id="branding" role="banner">
              <h1 id="site-title">
        <span>
          <a href="http://localhost:3000" title="EngagemoreCRM" rel="home">EngagemoreCRM</a>
        </span>
      </h1>


          <img src="http://jwooten37830.com/blog/wp-content/themes/twentyten/images/headers/path.jpg" width="940" height="198" alt="" />
    </div><!-- #branding -->
    <div id="access" role="navigation">
        <div class="skip-link screen-reader-text">
            <a href="#content" title="Skip to content">Skip to content</a>
        </div>
        <div class="menu-header"><ul id="menu-menu-1" class="menu">
          <li id="menu-item-700" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-700"><%= link_to 'About', '/about' %></li>
          <li id="menu-item-701" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701"><%= link_to ENV["PATTI_DOCUMENTS"], :target => "_blank" do %>Documentation<% end %> %></li>
          <li id="menu-item-700" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-700"><%= link_to ENV["PATTI_ISSUES_SERVER"],  :target => "_blank" do %>Report Bugs<% end %></li>
          <li id="menu-item-703" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-703"><%= link_to ENV["NOTES_SERVER"],  :target => "_blank" do %>Leave a Note<% end %></li>
        </div>	<!-- #menu-menu-1 -->
		</div><!-- #access -->
  </div><!-- #masthead -->
</div><!-- #header -->

<div id="main">
  <div id="container">
    <div id="content" role="main">
